<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/css.css"/>
</head>

<style>

    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input {
        width : 100%;
        box-sizing : border-box
    }

    .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }

</style>

<body>
<nav class="navbar">
  <div class="navbar_logo">
    <img src="/image/coffee.png" height="60" width="60" alt="커피갤러리 이미지">
    <a th:href="@{/}">마루 & 빵남봉</a>
  </div>
  <ul class="navbar_categories"> <!--ul =unorder list-->
    <li><a th:href="@{/board/list}">커피갤러리</a></li>
    <li><a th:href="@{/board/list}">코딩갤러리</a></li>
    <li><a th:href="@{/board/list}">배필갤러리</a></li>
    <li><a th:href="@{/board/list}">취업갤러리</a></li>
  </ul>
</nav>
<form class="hidden" id="login-form">
  <input
          required
          maxlength="15"
          type="text"
          placeholder="ID"/>
  <input type="password" placeholder="PW"/>
  <button>Log In</button>
</form>
<h1 id="greeting" class="hidden"></h1>
<div class="board_wrap">
  <div class="board_title">
    <strong>공지사항</strong>
    <p>마루 & 빵남봉 커뮤니티에 오신것을 환영합니다.</p> <!--p tag = paragraph-->
  </div>
</div>


<div class="layout">
  <form action="/board/writepro" method="post"> <!--action은 이 데이터를 어디로 보낼꺼냐-->
    <input name="title" type="text">
    <textarea name="content"></textarea>
    <button type="submit">작성</button> <!-- 버튼을 눌렀을때 form안에있는 input과 textarea가 action에 있는 주소로 넘어가게 된다.-->
  </form>
</div>
<script src="/javascript/main.js"></script>
</body>
</html>